@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #fff;
    background-color: rgb(0,0,0);
    /* background-color: #141414;	 */
}
header{
    background-color: black;

    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    

    margin-top: -18px;
    /* padding-bottom: 5px; */
    padding: 5px;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

.container {
    display: flex;
    width: 90vw;
    padding-top: 25px;
}

.panel{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    cursor: pointer;
    border-radius: 50px;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    color: #fff;
    border: solid 2px #fff;
    box-sizing: border-box;
}

.panel h3{
    font-size: 30px;
    margin-bottom: 0; 
}

.panel p{
    font-size: 20px;
    margin-top: 0px;
}

.panel .text-wrapper{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    display: none;
}

.panel.active{
    flex: 5;
}
.panel.active .text-wrapper{
    display: block;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px){
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), 
    .panel:nth-of-type(4){
        display: none;
    }
}