@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #fff;
    background-color: rgb(0,0,0);	
}

.container {
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    cursor: pointer;
    border-radius: 50px;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    color: #fff;
}

.panel h3{
    font-size: 30px;
    margin-bottom: 0;
}
.panel p{
    font-size: 20px;
    margin-top: 0px;
}
.panel.active{
    flex: 5;
}